body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:relative;
  left:-0px;
  width:450px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u9103_div {
  position:absolute;
  left:0px;
  top:0px;
  width:450px;
  height:490px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9103 {
  position:absolute;
  left:0px;
  top:0px;
  width:450px;
  height:490px;
}
#u9104 {
  position:absolute;
  left:2px;
  top:237px;
  width:446px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9105_div {
  position:absolute;
  left:0px;
  top:0px;
  width:450px;
  height:50px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#666666;
  text-align:left;
}
#u9105 {
  position:absolute;
  left:0px;
  top:0px;
  width:450px;
  height:50px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#666666;
  text-align:left;
}
#u9106 {
  position:absolute;
  left:30px;
  top:16px;
  width:418px;
  word-wrap:break-word;
}
#u9107_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u9107 {
  position:absolute;
  left:398px;
  top:14px;
  width:22px;
  height:22px;
  color:#666666;
}
#u9108 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  word-wrap:break-word;
}
#u9109_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(26, 188, 156, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#1ABC9C;
}
#u9109 {
  position:absolute;
  left:237px;
  top:427px;
  width:75px;
  height:33px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#1ABC9C;
}
#u9109_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:33px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(26, 188, 156, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#1ABC9C;
}
#u9109.mouseDown {
}
#u9110 {
  position:absolute;
  left:2px;
  top:6px;
  width:71px;
  word-wrap:break-word;
}
#u9111_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:33px;
  background:inherit;
  background-color:rgba(26, 188, 156, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9111 {
  position:absolute;
  left:328px;
  top:427px;
  width:75px;
  height:33px;
}
#u9112 {
  position:absolute;
  left:2px;
  top:8px;
  width:71px;
  word-wrap:break-word;
}
#u9113 {
  position:absolute;
  left:30px;
  top:70px;
  width:395px;
  height:338px;
}
#u9114_img {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:58px;
}
#u9114 {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:58px;
}
#u9115 {
  position:absolute;
  left:2px;
  top:21px;
  width:150px;
  word-wrap:break-word;
}
#u9116_img {
  position:absolute;
  left:0px;
  top:0px;
  width:236px;
  height:58px;
}
#u9116 {
  position:absolute;
  left:154px;
  top:0px;
  width:236px;
  height:58px;
}
#u9117 {
  position:absolute;
  left:2px;
  top:21px;
  width:232px;
  word-wrap:break-word;
}
#u9118_img {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:145px;
}
#u9118 {
  position:absolute;
  left:0px;
  top:58px;
  width:154px;
  height:145px;
}
#u9119 {
  position:absolute;
  left:2px;
  top:64px;
  width:150px;
  word-wrap:break-word;
}
#u9120_img {
  position:absolute;
  left:0px;
  top:0px;
  width:236px;
  height:145px;
}
#u9120 {
  position:absolute;
  left:154px;
  top:58px;
  width:236px;
  height:145px;
}
#u9121 {
  position:absolute;
  left:2px;
  top:64px;
  width:232px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9122_img {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:130px;
}
#u9122 {
  position:absolute;
  left:0px;
  top:203px;
  width:154px;
  height:130px;
}
#u9123 {
  position:absolute;
  left:2px;
  top:57px;
  width:150px;
  word-wrap:break-word;
}
#u9124_img {
  position:absolute;
  left:0px;
  top:0px;
  width:236px;
  height:130px;
}
#u9124 {
  position:absolute;
  left:154px;
  top:203px;
  width:236px;
  height:130px;
}
#u9125 {
  position:absolute;
  left:2px;
  top:57px;
  width:232px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9126 {
  position:absolute;
  left:270px;
  top:147px;
  width:100px;
  height:16px;
}
#u9127 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u9126_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u9128 {
  position:absolute;
  left:270px;
  top:178px;
  width:100px;
  height:16px;
}
#u9129 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u9128_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u9130 {
  position:absolute;
  left:270px;
  top:209px;
  width:100px;
  height:16px;
}
#u9131 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u9130_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u9132 {
  position:absolute;
  left:270px;
  top:310px;
  width:100px;
  height:16px;
}
#u9133 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u9132_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u9134 {
  position:absolute;
  left:270px;
  top:341px;
  width:110px;
  height:16px;
}
#u9135 {
  position:absolute;
  left:16px;
  top:0px;
  width:92px;
  word-wrap:break-word;
}
#u9134_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u9136 {
  position:absolute;
  left:270px;
  top:237px;
  width:100px;
  height:16px;
}
#u9137 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u9136_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
