body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:relative;
  left:-0px;
  width:450px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u11011_div {
  position:absolute;
  left:0px;
  top:0px;
  width:450px;
  height:490px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11011 {
  position:absolute;
  left:0px;
  top:0px;
  width:450px;
  height:490px;
}
#u11012 {
  position:absolute;
  left:2px;
  top:237px;
  width:446px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11013_div {
  position:absolute;
  left:0px;
  top:0px;
  width:450px;
  height:50px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#666666;
  text-align:left;
}
#u11013 {
  position:absolute;
  left:0px;
  top:0px;
  width:450px;
  height:50px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#666666;
  text-align:left;
}
#u11014 {
  position:absolute;
  left:30px;
  top:16px;
  width:418px;
  word-wrap:break-word;
}
#u11015_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u11015 {
  position:absolute;
  left:398px;
  top:14px;
  width:22px;
  height:22px;
  color:#666666;
}
#u11016 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  word-wrap:break-word;
}
#u11017_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(26, 188, 156, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#1ABC9C;
}
#u11017 {
  position:absolute;
  left:237px;
  top:427px;
  width:75px;
  height:33px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#1ABC9C;
}
#u11017_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:33px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(26, 188, 156, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#1ABC9C;
}
#u11017.mouseDown {
}
#u11018 {
  position:absolute;
  left:2px;
  top:6px;
  width:71px;
  word-wrap:break-word;
}
#u11019_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:33px;
  background:inherit;
  background-color:rgba(26, 188, 156, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11019 {
  position:absolute;
  left:328px;
  top:427px;
  width:75px;
  height:33px;
}
#u11020 {
  position:absolute;
  left:2px;
  top:8px;
  width:71px;
  word-wrap:break-word;
}
#u11021 {
  position:absolute;
  left:30px;
  top:70px;
  width:395px;
  height:338px;
}
#u11022_img {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:58px;
}
#u11022 {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:58px;
}
#u11023 {
  position:absolute;
  left:2px;
  top:21px;
  width:150px;
  word-wrap:break-word;
}
#u11024_img {
  position:absolute;
  left:0px;
  top:0px;
  width:236px;
  height:58px;
}
#u11024 {
  position:absolute;
  left:154px;
  top:0px;
  width:236px;
  height:58px;
}
#u11025 {
  position:absolute;
  left:2px;
  top:21px;
  width:232px;
  word-wrap:break-word;
}
#u11026_img {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:145px;
}
#u11026 {
  position:absolute;
  left:0px;
  top:58px;
  width:154px;
  height:145px;
}
#u11027 {
  position:absolute;
  left:2px;
  top:64px;
  width:150px;
  word-wrap:break-word;
}
#u11028_img {
  position:absolute;
  left:0px;
  top:0px;
  width:236px;
  height:145px;
}
#u11028 {
  position:absolute;
  left:154px;
  top:58px;
  width:236px;
  height:145px;
}
#u11029 {
  position:absolute;
  left:2px;
  top:64px;
  width:232px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11030_img {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:130px;
}
#u11030 {
  position:absolute;
  left:0px;
  top:203px;
  width:154px;
  height:130px;
}
#u11031 {
  position:absolute;
  left:2px;
  top:57px;
  width:150px;
  word-wrap:break-word;
}
#u11032_img {
  position:absolute;
  left:0px;
  top:0px;
  width:236px;
  height:130px;
}
#u11032 {
  position:absolute;
  left:154px;
  top:203px;
  width:236px;
  height:130px;
}
#u11033 {
  position:absolute;
  left:2px;
  top:57px;
  width:232px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11034 {
  position:absolute;
  left:270px;
  top:147px;
  width:100px;
  height:16px;
}
#u11035 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u11034_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u11036 {
  position:absolute;
  left:270px;
  top:178px;
  width:100px;
  height:16px;
}
#u11037 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u11036_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u11038 {
  position:absolute;
  left:270px;
  top:209px;
  width:100px;
  height:16px;
}
#u11039 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u11038_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u11040 {
  position:absolute;
  left:270px;
  top:310px;
  width:100px;
  height:16px;
}
#u11041 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u11040_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u11042 {
  position:absolute;
  left:270px;
  top:341px;
  width:110px;
  height:16px;
}
#u11043 {
  position:absolute;
  left:16px;
  top:0px;
  width:92px;
  word-wrap:break-word;
}
#u11042_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u11044 {
  position:absolute;
  left:270px;
  top:237px;
  width:100px;
  height:16px;
}
#u11045 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u11044_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
