body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:relative;
  left:-0px;
  width:450px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u9129_div {
  position:absolute;
  left:0px;
  top:0px;
  width:450px;
  height:490px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9129 {
  position:absolute;
  left:0px;
  top:0px;
  width:450px;
  height:490px;
}
#u9130 {
  position:absolute;
  left:2px;
  top:237px;
  width:446px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9131_div {
  position:absolute;
  left:0px;
  top:0px;
  width:450px;
  height:50px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#666666;
  text-align:left;
}
#u9131 {
  position:absolute;
  left:0px;
  top:0px;
  width:450px;
  height:50px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#666666;
  text-align:left;
}
#u9132 {
  position:absolute;
  left:30px;
  top:16px;
  width:418px;
  word-wrap:break-word;
}
#u9133_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u9133 {
  position:absolute;
  left:398px;
  top:14px;
  width:22px;
  height:22px;
  color:#666666;
}
#u9134 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  word-wrap:break-word;
}
#u9135_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(26, 188, 156, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#1ABC9C;
}
#u9135 {
  position:absolute;
  left:237px;
  top:427px;
  width:75px;
  height:33px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#1ABC9C;
}
#u9135_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:33px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(26, 188, 156, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#1ABC9C;
}
#u9135.mouseDown {
}
#u9136 {
  position:absolute;
  left:2px;
  top:6px;
  width:71px;
  word-wrap:break-word;
}
#u9137_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:33px;
  background:inherit;
  background-color:rgba(26, 188, 156, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9137 {
  position:absolute;
  left:328px;
  top:427px;
  width:75px;
  height:33px;
}
#u9138 {
  position:absolute;
  left:2px;
  top:8px;
  width:71px;
  word-wrap:break-word;
}
#u9139 {
  position:absolute;
  left:30px;
  top:70px;
  width:395px;
  height:338px;
}
#u9140_img {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:58px;
}
#u9140 {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:58px;
}
#u9141 {
  position:absolute;
  left:2px;
  top:21px;
  width:150px;
  word-wrap:break-word;
}
#u9142_img {
  position:absolute;
  left:0px;
  top:0px;
  width:236px;
  height:58px;
}
#u9142 {
  position:absolute;
  left:154px;
  top:0px;
  width:236px;
  height:58px;
}
#u9143 {
  position:absolute;
  left:2px;
  top:21px;
  width:232px;
  word-wrap:break-word;
}
#u9144_img {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:145px;
}
#u9144 {
  position:absolute;
  left:0px;
  top:58px;
  width:154px;
  height:145px;
}
#u9145 {
  position:absolute;
  left:2px;
  top:64px;
  width:150px;
  word-wrap:break-word;
}
#u9146_img {
  position:absolute;
  left:0px;
  top:0px;
  width:236px;
  height:145px;
}
#u9146 {
  position:absolute;
  left:154px;
  top:58px;
  width:236px;
  height:145px;
}
#u9147 {
  position:absolute;
  left:2px;
  top:64px;
  width:232px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9148_img {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:130px;
}
#u9148 {
  position:absolute;
  left:0px;
  top:203px;
  width:154px;
  height:130px;
}
#u9149 {
  position:absolute;
  left:2px;
  top:57px;
  width:150px;
  word-wrap:break-word;
}
#u9150_img {
  position:absolute;
  left:0px;
  top:0px;
  width:236px;
  height:130px;
}
#u9150 {
  position:absolute;
  left:154px;
  top:203px;
  width:236px;
  height:130px;
}
#u9151 {
  position:absolute;
  left:2px;
  top:57px;
  width:232px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9152 {
  position:absolute;
  left:270px;
  top:147px;
  width:100px;
  height:16px;
}
#u9153 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u9152_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u9154 {
  position:absolute;
  left:270px;
  top:178px;
  width:100px;
  height:16px;
}
#u9155 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u9154_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u9156 {
  position:absolute;
  left:270px;
  top:209px;
  width:100px;
  height:16px;
}
#u9157 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u9156_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u9158 {
  position:absolute;
  left:270px;
  top:310px;
  width:100px;
  height:16px;
}
#u9159 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u9158_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u9160 {
  position:absolute;
  left:270px;
  top:341px;
  width:110px;
  height:16px;
}
#u9161 {
  position:absolute;
  left:16px;
  top:0px;
  width:92px;
  word-wrap:break-word;
}
#u9160_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u9162 {
  position:absolute;
  left:270px;
  top:237px;
  width:100px;
  height:16px;
}
#u9163 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u9162_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
