body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:relative;
  left:-0px;
  width:520px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u5239_div {
  position:absolute;
  left:0px;
  top:0px;
  width:520px;
  height:400px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5239 {
  position:absolute;
  left:0px;
  top:0px;
  width:520px;
  height:400px;
}
#u5240 {
  position:absolute;
  left:2px;
  top:192px;
  width:516px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5241_div {
  position:absolute;
  left:0px;
  top:0px;
  width:520px;
  height:50px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#666666;
  text-align:left;
}
#u5241 {
  position:absolute;
  left:0px;
  top:0px;
  width:520px;
  height:50px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#666666;
  text-align:left;
}
#u5242 {
  position:absolute;
  left:30px;
  top:16px;
  width:488px;
  word-wrap:break-word;
}
#u5243_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u5243 {
  position:absolute;
  left:488px;
  top:14px;
  width:22px;
  height:22px;
  color:#666666;
}
#u5244 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  word-wrap:break-word;
}
#u5245_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(26, 188, 156, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#1ABC9C;
}
#u5245 {
  position:absolute;
  left:310px;
  top:330px;
  width:75px;
  height:33px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#1ABC9C;
}
#u5245_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:33px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(26, 188, 156, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#1ABC9C;
}
#u5245.mouseDown {
}
#u5246 {
  position:absolute;
  left:2px;
  top:6px;
  width:71px;
  word-wrap:break-word;
}
#u5247_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:33px;
  background:inherit;
  background-color:rgba(26, 188, 156, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5247 {
  position:absolute;
  left:401px;
  top:330px;
  width:75px;
  height:33px;
}
#u5248 {
  position:absolute;
  left:2px;
  top:8px;
  width:71px;
  word-wrap:break-word;
}
#u5249 {
  position:absolute;
  left:30px;
  top:82px;
  width:465px;
  height:230px;
}
#u5250_img {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:225px;
}
#u5250 {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:225px;
}
#u5251 {
  position:absolute;
  left:2px;
  top:104px;
  width:178px;
  word-wrap:break-word;
}
#u5252_img {
  position:absolute;
  left:0px;
  top:0px;
  width:278px;
  height:225px;
}
#u5252 {
  position:absolute;
  left:182px;
  top:0px;
  width:278px;
  height:225px;
}
#u5253 {
  position:absolute;
  left:2px;
  top:104px;
  width:274px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5254 {
  position:absolute;
  left:310px;
  top:105px;
  width:100px;
  height:16px;
}
#u5255 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u5254_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u5256 {
  position:absolute;
  left:310px;
  top:146px;
  width:100px;
  height:16px;
}
#u5257 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u5256_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u5258 {
  position:absolute;
  left:310px;
  top:186px;
  width:100px;
  height:16px;
}
#u5259 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u5258_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u5260 {
  position:absolute;
  left:310px;
  top:227px;
  width:100px;
  height:16px;
}
#u5261 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u5260_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u5262 {
  position:absolute;
  left:310px;
  top:267px;
  width:100px;
  height:16px;
}
#u5263 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u5262_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
