body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:relative;
  left:-0px;
  width:1100px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u8946 {
  position:absolute;
  left:0px;
  top:0px;
  width:1100px;
  height:50px;
  overflow:hidden;
}
#u8946_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1100px;
  height:50px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(249, 249, 249, 1);
  background-image:none;
}
#u8946_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u8947 {
  position:absolute;
  left:0px;
  top:49px;
  width:1100px;
  height:1px;
  overflow:hidden;
}
#u8947_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1100px;
  height:1px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
}
#u8947_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u8948_div {
  position:absolute;
  left:0px;
  top:0px;
  width:630px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:5px;
  border-style:solid;
  border-color:rgba(26, 188, 156, 1);
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
}
#u8948 {
  position:absolute;
  left:0px;
  top:16px;
  width:630px;
  height:18px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
}
#u8948_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:630px;
  height:18px;
  background:inherit;
  background-color:rgba(51, 153, 255, 1);
  box-sizing:border-box;
  border-width:5px;
  border-style:solid;
  border-color:rgba(51, 153, 255, 1);
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
}
#u8948.selected {
}
#u8949 {
  position:absolute;
  left:10px;
  top:-1px;
  width:618px;
  word-wrap:break-word;
}
#u8950_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1100px;
  height:1010px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8950 {
  position:absolute;
  left:0px;
  top:60px;
  width:1100px;
  height:1010px;
}
#u8951 {
  position:absolute;
  left:2px;
  top:497px;
  width:1096px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8953_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:10px;
  height:26px;
}
#u8953 {
  position:absolute;
  left:50px;
  top:92px;
  width:5px;
  height:21px;
}
#u8954 {
  position:absolute;
  left:2px;
  top:2px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8955_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#555555;
}
#u8955 {
  position:absolute;
  left:65px;
  top:92px;
  width:97px;
  height:21px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#555555;
}
#u8956 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u8957_div {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8957 {
  position:absolute;
  left:50px;
  top:136px;
  width:62px;
  height:16px;
}
#u8958 {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  white-space:nowrap;
}
#u8959 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8960_div {
  position:absolute;
  left:0px;
  top:0px;
  width:537px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8960 {
  position:absolute;
  left:50px;
  top:162px;
  width:537px;
  height:36px;
}
#u8961 {
  position:absolute;
  left:2px;
  top:10px;
  width:533px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8962 {
  position:absolute;
  left:58px;
  top:168px;
  width:522px;
  height:24px;
}
#u8962_input {
  position:absolute;
  left:0px;
  top:0px;
  width:522px;
  height:24px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u8963_div {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8963 {
  position:absolute;
  left:50px;
  top:218px;
  width:62px;
  height:16px;
}
#u8964 {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  white-space:nowrap;
}
#u8965 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8966_div {
  position:absolute;
  left:0px;
  top:0px;
  width:537px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8966 {
  position:absolute;
  left:50px;
  top:244px;
  width:537px;
  height:36px;
}
#u8967 {
  position:absolute;
  left:2px;
  top:10px;
  width:533px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8968 {
  position:absolute;
  left:58px;
  top:250px;
  width:522px;
  height:24px;
}
#u8968_input {
  position:absolute;
  left:0px;
  top:0px;
  width:522px;
  height:24px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u8969_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8969 {
  position:absolute;
  left:50px;
  top:300px;
  width:57px;
  height:16px;
}
#u8970 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u8971 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8972_div {
  position:absolute;
  left:0px;
  top:0px;
  width:537px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8972 {
  position:absolute;
  left:50px;
  top:326px;
  width:537px;
  height:36px;
}
#u8973 {
  position:absolute;
  left:2px;
  top:10px;
  width:533px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8974 {
  position:absolute;
  left:58px;
  top:332px;
  width:522px;
  height:24px;
}
#u8974_input {
  position:absolute;
  left:0px;
  top:0px;
  width:522px;
  height:24px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u8975_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8975 {
  position:absolute;
  left:50px;
  top:382px;
  width:57px;
  height:16px;
}
#u8976 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u8977 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8978_div {
  position:absolute;
  left:0px;
  top:0px;
  width:537px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8978 {
  position:absolute;
  left:50px;
  top:408px;
  width:537px;
  height:36px;
}
#u8979 {
  position:absolute;
  left:2px;
  top:10px;
  width:533px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8980 {
  position:absolute;
  left:58px;
  top:414px;
  width:522px;
  height:24px;
}
#u8980_input {
  position:absolute;
  left:0px;
  top:0px;
  width:522px;
  height:24px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u8981_div {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8981 {
  position:absolute;
  left:51px;
  top:462px;
  width:62px;
  height:16px;
}
#u8982 {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  white-space:nowrap;
}
#u8983 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8984_div {
  position:absolute;
  left:0px;
  top:0px;
  width:537px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8984 {
  position:absolute;
  left:51px;
  top:488px;
  width:537px;
  height:36px;
}
#u8985 {
  position:absolute;
  left:2px;
  top:10px;
  width:533px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8986 {
  position:absolute;
  left:59px;
  top:494px;
  width:522px;
  height:24px;
}
#u8986_input {
  position:absolute;
  left:0px;
  top:0px;
  width:522px;
  height:24px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u8987_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8987 {
  position:absolute;
  left:50px;
  top:545px;
  width:29px;
  height:16px;
}
#u8988 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u8989 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8990_div {
  position:absolute;
  left:0px;
  top:0px;
  width:537px;
  height:56px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8990 {
  position:absolute;
  left:50px;
  top:576px;
  width:537px;
  height:56px;
}
#u8991 {
  position:absolute;
  left:2px;
  top:20px;
  width:533px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8992 {
  position:absolute;
  left:58px;
  top:585px;
  width:523px;
  height:40px;
}
#u8992_input {
  position:absolute;
  left:0px;
  top:0px;
  width:523px;
  height:40px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u8993_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8993 {
  position:absolute;
  left:619px;
  top:172px;
  width:71px;
  height:16px;
}
#u8994 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u8995_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8995 {
  position:absolute;
  left:619px;
  top:250px;
  width:71px;
  height:16px;
}
#u8996 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u8997_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8997 {
  position:absolute;
  left:619px;
  top:332px;
  width:71px;
  height:16px;
}
#u8998 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u8999_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8999 {
  position:absolute;
  left:628px;
  top:883px;
  width:71px;
  height:16px;
}
#u9000 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u9001_div {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9001 {
  position:absolute;
  left:50px;
  top:652px;
  width:62px;
  height:16px;
}
#u9002 {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  white-space:nowrap;
}
#u9003 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u9004_div {
  position:absolute;
  left:0px;
  top:0px;
  width:537px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9004 {
  position:absolute;
  left:50px;
  top:678px;
  width:537px;
  height:36px;
}
#u9005 {
  position:absolute;
  left:2px;
  top:10px;
  width:533px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9006 {
  position:absolute;
  left:58px;
  top:684px;
  width:522px;
  height:24px;
}
#u9006_input {
  position:absolute;
  left:0px;
  top:0px;
  width:522px;
  height:24px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u9007_div {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9007 {
  position:absolute;
  left:50px;
  top:740px;
  width:62px;
  height:16px;
}
#u9008 {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  white-space:nowrap;
}
#u9009 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u9010_div {
  position:absolute;
  left:0px;
  top:0px;
  width:537px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9010 {
  position:absolute;
  left:50px;
  top:766px;
  width:537px;
  height:36px;
}
#u9011 {
  position:absolute;
  left:2px;
  top:10px;
  width:533px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9012 {
  position:absolute;
  left:58px;
  top:772px;
  width:522px;
  height:24px;
}
#u9012_input {
  position:absolute;
  left:0px;
  top:0px;
  width:522px;
  height:24px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u9013_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9013 {
  position:absolute;
  left:50px;
  top:832px;
  width:57px;
  height:16px;
}
#u9014 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u9015 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u9016_div {
  position:absolute;
  left:0px;
  top:0px;
  width:537px;
  height:56px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9016 {
  position:absolute;
  left:50px;
  top:863px;
  width:537px;
  height:56px;
}
#u9017 {
  position:absolute;
  left:2px;
  top:20px;
  width:533px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9018 {
  position:absolute;
  left:58px;
  top:872px;
  width:523px;
  height:40px;
}
#u9018_input {
  position:absolute;
  left:0px;
  top:0px;
  width:523px;
  height:40px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u9019_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9019 {
  position:absolute;
  left:628px;
  top:776px;
  width:71px;
  height:16px;
}
#u9020 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u9021_div {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(26, 188, 156, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#1ABC9C;
}
#u9021 {
  position:absolute;
  left:449px;
  top:977px;
  width:96px;
  height:33px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#1ABC9C;
}
#u9021_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:33px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(26, 188, 156, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#1ABC9C;
}
#u9021.mouseDown {
}
#u9022 {
  position:absolute;
  left:2px;
  top:6px;
  width:92px;
  word-wrap:break-word;
}
#u9023_div {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:33px;
  background:inherit;
  background-color:rgba(26, 188, 156, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9023 {
  position:absolute;
  left:603px;
  top:977px;
  width:96px;
  height:33px;
}
#u9024 {
  position:absolute;
  left:2px;
  top:8px;
  width:92px;
  word-wrap:break-word;
}
