body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:relative;
  left:-0px;
  width:1100px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u16090_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1100px;
  height:1390px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16090 {
  position:absolute;
  left:0px;
  top:60px;
  width:1100px;
  height:1390px;
}
#u16091 {
  position:absolute;
  left:2px;
  top:687px;
  width:1096px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16092_div {
  position:absolute;
  left:0px;
  top:0px;
  width:931px;
  height:260px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(240, 238, 240, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16092 {
  position:absolute;
  left:69px;
  top:140px;
  width:931px;
  height:260px;
}
#u16093 {
  position:absolute;
  left:2px;
  top:122px;
  width:927px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16095 {
  position:absolute;
  left:0px;
  top:0px;
  width:1100px;
  height:50px;
  overflow:hidden;
}
#u16095_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1100px;
  height:50px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(249, 249, 249, 1);
  background-image:none;
}
#u16095_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u16096 {
  position:absolute;
  left:0px;
  top:49px;
  width:1100px;
  height:1px;
  overflow:hidden;
}
#u16096_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1100px;
  height:1px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
}
#u16096_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u16097_div {
  position:absolute;
  left:0px;
  top:0px;
  width:630px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:5px;
  border-style:solid;
  border-color:rgba(26, 188, 156, 1);
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
}
#u16097 {
  position:absolute;
  left:0px;
  top:16px;
  width:630px;
  height:18px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
}
#u16097_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:630px;
  height:18px;
  background:inherit;
  background-color:rgba(51, 153, 255, 1);
  box-sizing:border-box;
  border-width:5px;
  border-style:solid;
  border-color:rgba(51, 153, 255, 1);
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
}
#u16097.selected {
}
#u16098 {
  position:absolute;
  left:10px;
  top:-1px;
  width:618px;
  word-wrap:break-word;
}
#u16099_div {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16099 {
  position:absolute;
  left:86px;
  top:158px;
  width:183px;
  height:16px;
}
#u16100 {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  white-space:nowrap;
}
#u16101_div {
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16101 {
  position:absolute;
  left:86px;
  top:198px;
  width:158px;
  height:16px;
}
#u16102 {
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  white-space:nowrap;
}
#u16103_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16103 {
  position:absolute;
  left:86px;
  top:279px;
  width:113px;
  height:16px;
}
#u16104 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u16105_div {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(26, 188, 156, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#1ABC9C;
}
#u16105 {
  position:absolute;
  left:69px;
  top:427px;
  width:102px;
  height:33px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#1ABC9C;
}
#u16105_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:33px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(26, 188, 156, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#1ABC9C;
}
#u16105.mouseDown {
}
#u16106 {
  position:absolute;
  left:2px;
  top:6px;
  width:98px;
  word-wrap:break-word;
}
#u16107_div {
  position:absolute;
  left:0px;
  top:0px;
  width:589px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16107 {
  position:absolute;
  left:86px;
  top:320px;
  width:589px;
  height:16px;
}
#u16108 {
  position:absolute;
  left:0px;
  top:0px;
  width:589px;
  white-space:nowrap;
}
#u16109_div {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16109 {
  position:absolute;
  left:86px;
  top:239px;
  width:185px;
  height:16px;
}
#u16110 {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  white-space:nowrap;
}
#u16111_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(119, 119, 119, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u16111 {
  position:absolute;
  left:1000px;
  top:9px;
  width:70px;
  height:32px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u16111_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:32px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(119, 119, 119, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u16111.mouseDown {
}
#u16112 {
  position:absolute;
  left:2px;
  top:6px;
  width:66px;
  word-wrap:break-word;
}
#u16111_ann {
  position:absolute;
  left:1063px;
  top:5px;
  width:1px;
  height:1px;
}
#u16113_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:10px;
  height:26px;
}
#u16113 {
  position:absolute;
  left:69px;
  top:99px;
  width:5px;
  height:21px;
}
#u16114 {
  position:absolute;
  left:2px;
  top:2px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16115_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#555555;
}
#u16115 {
  position:absolute;
  left:84px;
  top:99px;
  width:65px;
  height:21px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#555555;
}
#u16116 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u16118 {
  position:absolute;
  left:69px;
  top:588px;
  width:936px;
  height:805px;
}
#u16119_img {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:50px;
}
#u16119 {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:50px;
  text-align:left;
}
#u16120 {
  position:absolute;
  left:20px;
  top:17px;
  width:171px;
  word-wrap:break-word;
}
#u16121_img {
  position:absolute;
  left:0px;
  top:0px;
  width:738px;
  height:50px;
}
#u16121 {
  position:absolute;
  left:193px;
  top:0px;
  width:738px;
  height:50px;
  text-align:left;
}
#u16122 {
  position:absolute;
  left:20px;
  top:17px;
  width:716px;
  word-wrap:break-word;
}
#u16123_img {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:50px;
}
#u16123 {
  position:absolute;
  left:0px;
  top:50px;
  width:193px;
  height:50px;
  text-align:left;
}
#u16124 {
  position:absolute;
  left:20px;
  top:17px;
  width:171px;
  word-wrap:break-word;
}
#u16125_img {
  position:absolute;
  left:0px;
  top:0px;
  width:738px;
  height:50px;
}
#u16125 {
  position:absolute;
  left:193px;
  top:50px;
  width:738px;
  height:50px;
  text-align:left;
}
#u16126 {
  position:absolute;
  left:20px;
  top:17px;
  width:716px;
  word-wrap:break-word;
}
#u16127_img {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:50px;
}
#u16127 {
  position:absolute;
  left:0px;
  top:100px;
  width:193px;
  height:50px;
  text-align:left;
}
#u16128 {
  position:absolute;
  left:20px;
  top:17px;
  width:171px;
  word-wrap:break-word;
}
#u16129_img {
  position:absolute;
  left:0px;
  top:0px;
  width:738px;
  height:50px;
}
#u16129 {
  position:absolute;
  left:193px;
  top:100px;
  width:738px;
  height:50px;
  text-align:left;
}
#u16130 {
  position:absolute;
  left:20px;
  top:17px;
  width:716px;
  word-wrap:break-word;
}
#u16131_img {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:50px;
}
#u16131 {
  position:absolute;
  left:0px;
  top:150px;
  width:193px;
  height:50px;
  text-align:left;
}
#u16132 {
  position:absolute;
  left:20px;
  top:17px;
  width:171px;
  word-wrap:break-word;
}
#u16133_img {
  position:absolute;
  left:0px;
  top:0px;
  width:738px;
  height:50px;
}
#u16133 {
  position:absolute;
  left:193px;
  top:150px;
  width:738px;
  height:50px;
  text-align:left;
}
#u16134 {
  position:absolute;
  left:20px;
  top:17px;
  width:716px;
  word-wrap:break-word;
}
#u16135_img {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:50px;
}
#u16135 {
  position:absolute;
  left:0px;
  top:200px;
  width:193px;
  height:50px;
  text-align:left;
}
#u16136 {
  position:absolute;
  left:20px;
  top:17px;
  width:171px;
  word-wrap:break-word;
}
#u16137_img {
  position:absolute;
  left:0px;
  top:0px;
  width:738px;
  height:50px;
}
#u16137 {
  position:absolute;
  left:193px;
  top:200px;
  width:738px;
  height:50px;
  text-align:left;
}
#u16138 {
  position:absolute;
  left:20px;
  top:17px;
  width:716px;
  word-wrap:break-word;
}
#u16139_img {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:50px;
}
#u16139 {
  position:absolute;
  left:0px;
  top:250px;
  width:193px;
  height:50px;
  text-align:left;
}
#u16140 {
  position:absolute;
  left:20px;
  top:17px;
  width:171px;
  word-wrap:break-word;
}
#u16141_img {
  position:absolute;
  left:0px;
  top:0px;
  width:738px;
  height:50px;
}
#u16141 {
  position:absolute;
  left:193px;
  top:250px;
  width:738px;
  height:50px;
  text-align:left;
}
#u16142 {
  position:absolute;
  left:20px;
  top:17px;
  width:716px;
  word-wrap:break-word;
}
#u16143_img {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:50px;
}
#u16143 {
  position:absolute;
  left:0px;
  top:300px;
  width:193px;
  height:50px;
  text-align:left;
}
#u16144 {
  position:absolute;
  left:20px;
  top:17px;
  width:171px;
  word-wrap:break-word;
}
#u16145_img {
  position:absolute;
  left:0px;
  top:0px;
  width:738px;
  height:50px;
}
#u16145 {
  position:absolute;
  left:193px;
  top:300px;
  width:738px;
  height:50px;
  text-align:left;
}
#u16146 {
  position:absolute;
  left:20px;
  top:17px;
  width:716px;
  word-wrap:break-word;
}
#u16147_img {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:50px;
}
#u16147 {
  position:absolute;
  left:0px;
  top:350px;
  width:193px;
  height:50px;
  text-align:left;
}
#u16148 {
  position:absolute;
  left:20px;
  top:17px;
  width:171px;
  word-wrap:break-word;
}
#u16149_img {
  position:absolute;
  left:0px;
  top:0px;
  width:738px;
  height:50px;
}
#u16149 {
  position:absolute;
  left:193px;
  top:350px;
  width:738px;
  height:50px;
  text-align:left;
}
#u16150 {
  position:absolute;
  left:20px;
  top:17px;
  width:716px;
  word-wrap:break-word;
}
#u16151_img {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:50px;
}
#u16151 {
  position:absolute;
  left:0px;
  top:400px;
  width:193px;
  height:50px;
  text-align:left;
}
#u16152 {
  position:absolute;
  left:20px;
  top:17px;
  width:171px;
  word-wrap:break-word;
}
#u16153_img {
  position:absolute;
  left:0px;
  top:0px;
  width:738px;
  height:50px;
}
#u16153 {
  position:absolute;
  left:193px;
  top:400px;
  width:738px;
  height:50px;
  text-align:left;
}
#u16154 {
  position:absolute;
  left:20px;
  top:17px;
  width:716px;
  word-wrap:break-word;
}
#u16155_img {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:50px;
}
#u16155 {
  position:absolute;
  left:0px;
  top:450px;
  width:193px;
  height:50px;
  text-align:left;
}
#u16156 {
  position:absolute;
  left:20px;
  top:17px;
  width:171px;
  word-wrap:break-word;
}
#u16157_img {
  position:absolute;
  left:0px;
  top:0px;
  width:738px;
  height:50px;
}
#u16157 {
  position:absolute;
  left:193px;
  top:450px;
  width:738px;
  height:50px;
  text-align:left;
}
#u16158 {
  position:absolute;
  left:20px;
  top:17px;
  width:716px;
  word-wrap:break-word;
}
#u16159_img {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:100px;
}
#u16159 {
  position:absolute;
  left:0px;
  top:500px;
  width:193px;
  height:100px;
  text-align:left;
}
#u16160 {
  position:absolute;
  left:20px;
  top:2px;
  width:171px;
  word-wrap:break-word;
}
#u16161_img {
  position:absolute;
  left:0px;
  top:0px;
  width:738px;
  height:100px;
}
#u16161 {
  position:absolute;
  left:193px;
  top:500px;
  width:738px;
  height:100px;
  text-align:left;
}
#u16162 {
  position:absolute;
  left:20px;
  top:42px;
  width:716px;
  word-wrap:break-word;
}
#u16163_img {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:50px;
}
#u16163 {
  position:absolute;
  left:0px;
  top:600px;
  width:193px;
  height:50px;
  text-align:left;
}
#u16164 {
  position:absolute;
  left:20px;
  top:17px;
  width:171px;
  word-wrap:break-word;
}
#u16165_img {
  position:absolute;
  left:0px;
  top:0px;
  width:738px;
  height:50px;
}
#u16165 {
  position:absolute;
  left:193px;
  top:600px;
  width:738px;
  height:50px;
  text-align:left;
}
#u16166 {
  position:absolute;
  left:20px;
  top:17px;
  width:716px;
  word-wrap:break-word;
}
#u16167_img {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:50px;
}
#u16167 {
  position:absolute;
  left:0px;
  top:650px;
  width:193px;
  height:50px;
  text-align:left;
}
#u16168 {
  position:absolute;
  left:20px;
  top:17px;
  width:171px;
  word-wrap:break-word;
}
#u16169_img {
  position:absolute;
  left:0px;
  top:0px;
  width:738px;
  height:50px;
}
#u16169 {
  position:absolute;
  left:193px;
  top:650px;
  width:738px;
  height:50px;
  text-align:left;
}
#u16170 {
  position:absolute;
  left:20px;
  top:17px;
  width:716px;
  word-wrap:break-word;
}
#u16171_img {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:50px;
}
#u16171 {
  position:absolute;
  left:0px;
  top:700px;
  width:193px;
  height:50px;
  text-align:left;
}
#u16172 {
  position:absolute;
  left:20px;
  top:17px;
  width:171px;
  word-wrap:break-word;
}
#u16173_img {
  position:absolute;
  left:0px;
  top:0px;
  width:738px;
  height:50px;
}
#u16173 {
  position:absolute;
  left:193px;
  top:700px;
  width:738px;
  height:50px;
  text-align:left;
}
#u16174 {
  position:absolute;
  left:20px;
  top:17px;
  width:716px;
  word-wrap:break-word;
}
#u16175_img {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:50px;
}
#u16175 {
  position:absolute;
  left:0px;
  top:750px;
  width:193px;
  height:50px;
  text-align:left;
}
#u16176 {
  position:absolute;
  left:20px;
  top:17px;
  width:171px;
  word-wrap:break-word;
}
#u16177_img {
  position:absolute;
  left:0px;
  top:0px;
  width:738px;
  height:50px;
}
#u16177 {
  position:absolute;
  left:193px;
  top:750px;
  width:738px;
  height:50px;
  text-align:left;
}
#u16178 {
  position:absolute;
  left:20px;
  top:17px;
  width:716px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16179_div {
  position:absolute;
  left:0px;
  top:0px;
  width:931px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16179 {
  position:absolute;
  left:69px;
  top:529px;
  width:931px;
  height:60px;
}
#u16180 {
  position:absolute;
  left:2px;
  top:22px;
  width:927px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16181_div {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u16181 {
  position:absolute;
  left:88px;
  top:550px;
  width:147px;
  height:19px;
  font-size:16px;
}
#u16182 {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  white-space:nowrap;
}
#u16183_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:10px;
  height:26px;
}
#u16183 {
  position:absolute;
  left:69px;
  top:486px;
  width:5px;
  height:21px;
}
#u16184 {
  position:absolute;
  left:2px;
  top:2px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16185_div {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#555555;
}
#u16185 {
  position:absolute;
  left:84px;
  top:486px;
  width:88px;
  height:21px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#555555;
}
#u16186 {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  white-space:nowrap;
}
