body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:relative;
  left:-0px;
  width:1100px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u18304 {
  position:absolute;
  left:0px;
  top:0px;
  width:1100px;
  height:50px;
  overflow:hidden;
}
#u18304_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1100px;
  height:50px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(249, 249, 249, 1);
  background-image:none;
}
#u18304_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u18305 {
  position:absolute;
  left:0px;
  top:49px;
  width:1100px;
  height:1px;
  overflow:hidden;
}
#u18305_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1100px;
  height:1px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
}
#u18305_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u18306_div {
  position:absolute;
  left:0px;
  top:0px;
  width:630px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:5px;
  border-style:solid;
  border-color:rgba(26, 188, 156, 1);
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
}
#u18306 {
  position:absolute;
  left:0px;
  top:16px;
  width:630px;
  height:18px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
}
#u18306_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:630px;
  height:18px;
  background:inherit;
  background-color:rgba(51, 153, 255, 1);
  box-sizing:border-box;
  border-width:5px;
  border-style:solid;
  border-color:rgba(51, 153, 255, 1);
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
}
#u18306.selected {
}
#u18307 {
  position:absolute;
  left:10px;
  top:-1px;
  width:618px;
  word-wrap:break-word;
}
#u18308_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1100px;
  height:930px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u18308 {
  position:absolute;
  left:0px;
  top:60px;
  width:1100px;
  height:930px;
}
#u18309 {
  position:absolute;
  left:2px;
  top:457px;
  width:1096px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18310_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(119, 119, 119, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u18310 {
  position:absolute;
  left:1000px;
  top:9px;
  width:70px;
  height:32px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u18310_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:32px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(119, 119, 119, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u18310.mouseDown {
}
#u18311 {
  position:absolute;
  left:2px;
  top:6px;
  width:66px;
  word-wrap:break-word;
}
#u18310_ann {
  position:absolute;
  left:1063px;
  top:5px;
  width:1px;
  height:1px;
}
#u18312_div {
  position:absolute;
  left:0px;
  top:0px;
  width:931px;
  height:260px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(240, 238, 240, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u18312 {
  position:absolute;
  left:89px;
  top:131px;
  width:931px;
  height:260px;
}
#u18313 {
  position:absolute;
  left:2px;
  top:122px;
  width:927px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18314_div {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u18314 {
  position:absolute;
  left:106px;
  top:149px;
  width:183px;
  height:16px;
}
#u18315 {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  white-space:nowrap;
}
#u18316_div {
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u18316 {
  position:absolute;
  left:106px;
  top:189px;
  width:158px;
  height:16px;
}
#u18317 {
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  white-space:nowrap;
}
#u18318_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u18318 {
  position:absolute;
  left:106px;
  top:270px;
  width:113px;
  height:16px;
}
#u18319 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u18320_div {
  position:absolute;
  left:0px;
  top:0px;
  width:393px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u18320 {
  position:absolute;
  left:106px;
  top:311px;
  width:393px;
  height:16px;
}
#u18321 {
  position:absolute;
  left:0px;
  top:0px;
  width:393px;
  white-space:nowrap;
}
#u18322_div {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u18322 {
  position:absolute;
  left:106px;
  top:230px;
  width:185px;
  height:16px;
}
#u18323 {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  white-space:nowrap;
}
#u18324_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:10px;
  height:26px;
}
#u18324 {
  position:absolute;
  left:89px;
  top:90px;
  width:5px;
  height:21px;
}
#u18325 {
  position:absolute;
  left:2px;
  top:2px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18326_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#555555;
}
#u18326 {
  position:absolute;
  left:104px;
  top:90px;
  width:65px;
  height:21px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#555555;
}
#u18327 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u18328_div {
  position:absolute;
  left:0px;
  top:0px;
  width:931px;
  height:130px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(240, 238, 240, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u18328 {
  position:absolute;
  left:89px;
  top:461px;
  width:931px;
  height:130px;
}
#u18329 {
  position:absolute;
  left:2px;
  top:57px;
  width:927px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18330_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:10px;
  height:26px;
}
#u18330 {
  position:absolute;
  left:89px;
  top:420px;
  width:5px;
  height:21px;
}
#u18331 {
  position:absolute;
  left:2px;
  top:2px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18332_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#555555;
}
#u18332 {
  position:absolute;
  left:104px;
  top:420px;
  width:65px;
  height:21px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#555555;
}
#u18333 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u18334_div {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u18334 {
  position:absolute;
  left:106px;
  top:482px;
  width:141px;
  height:16px;
}
#u18335 {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  white-space:nowrap;
}
#u18336_div {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u18336 {
  position:absolute;
  left:106px;
  top:519px;
  width:127px;
  height:16px;
}
#u18337 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u18338_div {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u18338 {
  position:absolute;
  left:106px;
  top:555px;
  width:185px;
  height:16px;
}
#u18339 {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  white-space:nowrap;
}
#u18341 {
  position:absolute;
  left:89px;
  top:720px;
  width:917px;
  height:605px;
}
#u18342_img {
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:50px;
}
#u18342 {
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:50px;
  text-align:left;
}
#u18343 {
  position:absolute;
  left:20px;
  top:17px;
  width:157px;
  word-wrap:break-word;
}
#u18344_img {
  position:absolute;
  left:0px;
  top:0px;
  width:733px;
  height:50px;
}
#u18344 {
  position:absolute;
  left:179px;
  top:0px;
  width:733px;
  height:50px;
  text-align:left;
}
#u18345 {
  position:absolute;
  left:20px;
  top:17px;
  width:711px;
  word-wrap:break-word;
}
#u18346_img {
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:50px;
}
#u18346 {
  position:absolute;
  left:0px;
  top:50px;
  width:179px;
  height:50px;
  text-align:left;
}
#u18347 {
  position:absolute;
  left:20px;
  top:17px;
  width:157px;
  word-wrap:break-word;
}
#u18348_img {
  position:absolute;
  left:0px;
  top:0px;
  width:733px;
  height:50px;
}
#u18348 {
  position:absolute;
  left:179px;
  top:50px;
  width:733px;
  height:50px;
  text-align:left;
}
#u18349 {
  position:absolute;
  left:20px;
  top:17px;
  width:711px;
  word-wrap:break-word;
}
#u18350_img {
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:50px;
}
#u18350 {
  position:absolute;
  left:0px;
  top:100px;
  width:179px;
  height:50px;
  text-align:left;
}
#u18351 {
  position:absolute;
  left:20px;
  top:17px;
  width:157px;
  word-wrap:break-word;
}
#u18352_img {
  position:absolute;
  left:0px;
  top:0px;
  width:733px;
  height:50px;
}
#u18352 {
  position:absolute;
  left:179px;
  top:100px;
  width:733px;
  height:50px;
  text-align:left;
}
#u18353 {
  position:absolute;
  left:20px;
  top:17px;
  width:711px;
  word-wrap:break-word;
}
#u18354_img {
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:50px;
}
#u18354 {
  position:absolute;
  left:0px;
  top:150px;
  width:179px;
  height:50px;
  text-align:left;
}
#u18355 {
  position:absolute;
  left:20px;
  top:17px;
  width:157px;
  word-wrap:break-word;
}
#u18356_img {
  position:absolute;
  left:0px;
  top:0px;
  width:733px;
  height:50px;
}
#u18356 {
  position:absolute;
  left:179px;
  top:150px;
  width:733px;
  height:50px;
  text-align:left;
}
#u18357 {
  position:absolute;
  left:20px;
  top:17px;
  width:711px;
  word-wrap:break-word;
}
#u18358_img {
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:50px;
}
#u18358 {
  position:absolute;
  left:0px;
  top:200px;
  width:179px;
  height:50px;
  text-align:left;
}
#u18359 {
  position:absolute;
  left:20px;
  top:17px;
  width:157px;
  word-wrap:break-word;
}
#u18360_img {
  position:absolute;
  left:0px;
  top:0px;
  width:733px;
  height:50px;
}
#u18360 {
  position:absolute;
  left:179px;
  top:200px;
  width:733px;
  height:50px;
  text-align:left;
}
#u18361 {
  position:absolute;
  left:20px;
  top:17px;
  width:711px;
  word-wrap:break-word;
}
#u18362_img {
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:50px;
}
#u18362 {
  position:absolute;
  left:0px;
  top:250px;
  width:179px;
  height:50px;
  text-align:left;
}
#u18363 {
  position:absolute;
  left:20px;
  top:17px;
  width:157px;
  word-wrap:break-word;
}
#u18364_img {
  position:absolute;
  left:0px;
  top:0px;
  width:733px;
  height:50px;
}
#u18364 {
  position:absolute;
  left:179px;
  top:250px;
  width:733px;
  height:50px;
  text-align:left;
}
#u18365 {
  position:absolute;
  left:20px;
  top:17px;
  width:711px;
  word-wrap:break-word;
}
#u18366_img {
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:50px;
}
#u18366 {
  position:absolute;
  left:0px;
  top:300px;
  width:179px;
  height:50px;
  text-align:left;
}
#u18367 {
  position:absolute;
  left:20px;
  top:17px;
  width:157px;
  word-wrap:break-word;
}
#u18368_img {
  position:absolute;
  left:0px;
  top:0px;
  width:733px;
  height:50px;
}
#u18368 {
  position:absolute;
  left:179px;
  top:300px;
  width:733px;
  height:50px;
  text-align:left;
}
#u18369 {
  position:absolute;
  left:20px;
  top:17px;
  width:711px;
  word-wrap:break-word;
}
#u18370_img {
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:50px;
}
#u18370 {
  position:absolute;
  left:0px;
  top:350px;
  width:179px;
  height:50px;
  text-align:left;
}
#u18371 {
  position:absolute;
  left:20px;
  top:17px;
  width:157px;
  word-wrap:break-word;
}
#u18372_img {
  position:absolute;
  left:0px;
  top:0px;
  width:733px;
  height:50px;
}
#u18372 {
  position:absolute;
  left:179px;
  top:350px;
  width:733px;
  height:50px;
  text-align:left;
}
#u18373 {
  position:absolute;
  left:20px;
  top:17px;
  width:711px;
  word-wrap:break-word;
}
#u18374_img {
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:50px;
}
#u18374 {
  position:absolute;
  left:0px;
  top:400px;
  width:179px;
  height:50px;
  text-align:left;
}
#u18375 {
  position:absolute;
  left:20px;
  top:17px;
  width:157px;
  word-wrap:break-word;
}
#u18376_img {
  position:absolute;
  left:0px;
  top:0px;
  width:733px;
  height:50px;
}
#u18376 {
  position:absolute;
  left:179px;
  top:400px;
  width:733px;
  height:50px;
  text-align:left;
}
#u18377 {
  position:absolute;
  left:20px;
  top:17px;
  width:711px;
  word-wrap:break-word;
}
#u18378_img {
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:50px;
}
#u18378 {
  position:absolute;
  left:0px;
  top:450px;
  width:179px;
  height:50px;
  text-align:left;
}
#u18379 {
  position:absolute;
  left:20px;
  top:17px;
  width:157px;
  word-wrap:break-word;
}
#u18380_img {
  position:absolute;
  left:0px;
  top:0px;
  width:733px;
  height:50px;
}
#u18380 {
  position:absolute;
  left:179px;
  top:450px;
  width:733px;
  height:50px;
  text-align:left;
}
#u18381 {
  position:absolute;
  left:20px;
  top:17px;
  width:711px;
  word-wrap:break-word;
}
#u18382_img {
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:50px;
}
#u18382 {
  position:absolute;
  left:0px;
  top:500px;
  width:179px;
  height:50px;
  text-align:left;
}
#u18383 {
  position:absolute;
  left:20px;
  top:17px;
  width:157px;
  word-wrap:break-word;
}
#u18384_img {
  position:absolute;
  left:0px;
  top:0px;
  width:733px;
  height:50px;
}
#u18384 {
  position:absolute;
  left:179px;
  top:500px;
  width:733px;
  height:50px;
  text-align:left;
}
#u18385 {
  position:absolute;
  left:20px;
  top:9px;
  width:711px;
  word-wrap:break-word;
}
#u18386_img {
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:50px;
}
#u18386 {
  position:absolute;
  left:0px;
  top:550px;
  width:179px;
  height:50px;
  text-align:left;
}
#u18387 {
  position:absolute;
  left:20px;
  top:17px;
  width:157px;
  word-wrap:break-word;
}
#u18388_img {
  position:absolute;
  left:0px;
  top:0px;
  width:733px;
  height:50px;
}
#u18388 {
  position:absolute;
  left:179px;
  top:550px;
  width:733px;
  height:50px;
  text-align:left;
}
#u18389 {
  position:absolute;
  left:20px;
  top:17px;
  width:711px;
  word-wrap:break-word;
}
#u18390_div {
  position:absolute;
  left:0px;
  top:0px;
  width:912px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u18390 {
  position:absolute;
  left:89px;
  top:661px;
  width:912px;
  height:60px;
}
#u18391 {
  position:absolute;
  left:2px;
  top:22px;
  width:908px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18392_div {
  position:absolute;
  left:0px;
  top:0px;
  width:358px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u18392 {
  position:absolute;
  left:99px;
  top:682px;
  width:358px;
  height:19px;
  font-size:16px;
}
#u18393 {
  position:absolute;
  left:0px;
  top:0px;
  width:358px;
  white-space:nowrap;
}
#u18394_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:10px;
  height:26px;
}
#u18394 {
  position:absolute;
  left:89px;
  top:618px;
  width:5px;
  height:21px;
}
#u18395 {
  position:absolute;
  left:2px;
  top:2px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18396_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#555555;
}
#u18396 {
  position:absolute;
  left:104px;
  top:618px;
  width:81px;
  height:21px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#555555;
}
#u18397 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
