body {
  margin:0px;
  background-color:rgba(246, 247, 249, 1);
  background-image:none;
  position:relative;
  left:-0px;
  width:520px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u5028_div {
  position:absolute;
  left:0px;
  top:0px;
  width:520px;
  height:330px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5028 {
  position:absolute;
  left:0px;
  top:0px;
  width:520px;
  height:330px;
}
#u5029 {
  position:absolute;
  left:2px;
  top:157px;
  width:516px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5030_div {
  position:absolute;
  left:0px;
  top:0px;
  width:520px;
  height:50px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#666666;
  text-align:left;
}
#u5030 {
  position:absolute;
  left:0px;
  top:0px;
  width:520px;
  height:50px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#666666;
  text-align:left;
}
#u5031 {
  position:absolute;
  left:30px;
  top:16px;
  width:488px;
  word-wrap:break-word;
}
#u5032_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u5032 {
  position:absolute;
  left:488px;
  top:14px;
  width:22px;
  height:22px;
  color:#666666;
}
#u5033 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  word-wrap:break-word;
}
#u5034_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(26, 188, 156, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#1ABC9C;
}
#u5034 {
  position:absolute;
  left:324px;
  top:277px;
  width:75px;
  height:33px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#1ABC9C;
}
#u5034_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:33px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(26, 188, 156, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#1ABC9C;
}
#u5034.mouseDown {
}
#u5035 {
  position:absolute;
  left:2px;
  top:6px;
  width:71px;
  word-wrap:break-word;
}
#u5036_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:33px;
  background:inherit;
  background-color:rgba(26, 188, 156, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5036 {
  position:absolute;
  left:415px;
  top:277px;
  width:75px;
  height:33px;
}
#u5037 {
  position:absolute;
  left:2px;
  top:8px;
  width:71px;
  word-wrap:break-word;
}
#u5038 {
  position:absolute;
  left:30px;
  top:70px;
  width:465px;
  height:175px;
}
#u5039_img {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:58px;
}
#u5039 {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:58px;
}
#u5040 {
  position:absolute;
  left:2px;
  top:21px;
  width:178px;
  word-wrap:break-word;
}
#u5041_img {
  position:absolute;
  left:0px;
  top:0px;
  width:278px;
  height:58px;
}
#u5041 {
  position:absolute;
  left:182px;
  top:0px;
  width:278px;
  height:58px;
}
#u5042 {
  position:absolute;
  left:2px;
  top:21px;
  width:274px;
  word-wrap:break-word;
}
#u5043_img {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:112px;
}
#u5043 {
  position:absolute;
  left:0px;
  top:58px;
  width:182px;
  height:112px;
}
#u5044 {
  position:absolute;
  left:2px;
  top:48px;
  width:178px;
  word-wrap:break-word;
}
#u5045_img {
  position:absolute;
  left:0px;
  top:0px;
  width:278px;
  height:112px;
}
#u5045 {
  position:absolute;
  left:182px;
  top:58px;
  width:278px;
  height:112px;
}
#u5046 {
  position:absolute;
  left:2px;
  top:48px;
  width:274px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5047 {
  position:absolute;
  left:270px;
  top:147px;
  width:100px;
  height:16px;
}
#u5048 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u5047_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u5049 {
  position:absolute;
  left:270px;
  top:178px;
  width:100px;
  height:16px;
}
#u5050 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u5049_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u5051 {
  position:absolute;
  left:270px;
  top:209px;
  width:100px;
  height:16px;
}
#u5052 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u5051_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u5053 {
  position:absolute;
  left:359px;
  top:147px;
  width:100px;
  height:16px;
}
#u5054 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u5053_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u5055 {
  position:absolute;
  left:359px;
  top:178px;
  width:100px;
  height:16px;
}
#u5056 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u5055_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
