body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:relative;
  left:-0px;
  width:478px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u5137_div {
  position:absolute;
  left:0px;
  top:0px;
  width:478px;
  height:340px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5137 {
  position:absolute;
  left:0px;
  top:0px;
  width:478px;
  height:340px;
}
#u5138 {
  position:absolute;
  left:2px;
  top:162px;
  width:474px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5139_div {
  position:absolute;
  left:0px;
  top:0px;
  width:478px;
  height:50px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#666666;
  text-align:left;
}
#u5139 {
  position:absolute;
  left:0px;
  top:0px;
  width:478px;
  height:50px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#666666;
  text-align:left;
}
#u5140 {
  position:absolute;
  left:30px;
  top:16px;
  width:446px;
  word-wrap:break-word;
}
#u5141_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u5141 {
  position:absolute;
  left:438px;
  top:14px;
  width:22px;
  height:22px;
  color:#666666;
}
#u5142 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  word-wrap:break-word;
}
#u5143_div {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:190px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5143 {
  position:absolute;
  left:37px;
  top:70px;
  width:373px;
  height:190px;
}
#u5144 {
  position:absolute;
  left:2px;
  top:87px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5145 {
  position:absolute;
  left:111px;
  top:174px;
  width:79px;
  height:16px;
}
#u5146 {
  position:absolute;
  left:16px;
  top:0px;
  width:61px;
  word-wrap:break-word;
}
#u5145_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u5147 {
  position:absolute;
  left:111px;
  top:214px;
  width:124px;
  height:16px;
}
#u5148 {
  position:absolute;
  left:16px;
  top:0px;
  width:106px;
  word-wrap:break-word;
}
#u5147_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u5149_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(26, 188, 156, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#1ABC9C;
}
#u5149 {
  position:absolute;
  left:244px;
  top:277px;
  width:75px;
  height:33px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#1ABC9C;
}
#u5149_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:33px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(26, 188, 156, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#1ABC9C;
}
#u5149.mouseDown {
}
#u5150 {
  position:absolute;
  left:2px;
  top:6px;
  width:71px;
  word-wrap:break-word;
}
#u5151_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:33px;
  background:inherit;
  background-color:rgba(26, 188, 156, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5151 {
  position:absolute;
  left:335px;
  top:277px;
  width:75px;
  height:33px;
}
#u5152 {
  position:absolute;
  left:2px;
  top:8px;
  width:71px;
  word-wrap:break-word;
}
#u5153_div {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5153 {
  position:absolute;
  left:111px;
  top:130px;
  width:127px;
  height:16px;
}
#u5154 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
