body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:relative;
  left:-0px;
  width:768px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u8156_div {
  position:absolute;
  left:0px;
  top:0px;
  width:768px;
  height:490px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8156 {
  position:absolute;
  left:0px;
  top:0px;
  width:768px;
  height:490px;
}
#u8157 {
  position:absolute;
  left:2px;
  top:237px;
  width:764px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8158_div {
  position:absolute;
  left:0px;
  top:0px;
  width:768px;
  height:50px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#666666;
  text-align:left;
}
#u8158 {
  position:absolute;
  left:0px;
  top:0px;
  width:768px;
  height:50px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#666666;
  text-align:left;
}
#u8159 {
  position:absolute;
  left:30px;
  top:16px;
  width:736px;
  word-wrap:break-word;
}
#u8160_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u8160 {
  position:absolute;
  left:737px;
  top:14px;
  width:22px;
  height:22px;
  color:#666666;
}
#u8161 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  word-wrap:break-word;
}
#u8162 {
  position:absolute;
  left:23px;
  top:80px;
  width:375px;
  height:205px;
}
#u8163_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:40px;
}
#u8163 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:40px;
}
#u8164 {
  position:absolute;
  left:2px;
  top:12px;
  width:93px;
  word-wrap:break-word;
}
#u8165_img {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:40px;
}
#u8165 {
  position:absolute;
  left:97px;
  top:0px;
  width:132px;
  height:40px;
}
#u8166 {
  position:absolute;
  left:2px;
  top:12px;
  width:128px;
  word-wrap:break-word;
}
#u8167_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:40px;
}
#u8167 {
  position:absolute;
  left:229px;
  top:0px;
  width:141px;
  height:40px;
}
#u8168 {
  position:absolute;
  left:2px;
  top:12px;
  width:137px;
  word-wrap:break-word;
}
#u8169_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:40px;
}
#u8169 {
  position:absolute;
  left:0px;
  top:40px;
  width:97px;
  height:40px;
}
#u8170 {
  position:absolute;
  left:2px;
  top:12px;
  width:93px;
  word-wrap:break-word;
}
#u8171_img {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:40px;
}
#u8171 {
  position:absolute;
  left:97px;
  top:40px;
  width:132px;
  height:40px;
}
#u8172 {
  position:absolute;
  left:2px;
  top:12px;
  width:128px;
  word-wrap:break-word;
}
#u8173_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:40px;
}
#u8173 {
  position:absolute;
  left:229px;
  top:40px;
  width:141px;
  height:40px;
  color:#1ABC9C;
}
#u8174 {
  position:absolute;
  left:2px;
  top:12px;
  width:137px;
  word-wrap:break-word;
}
#u8175_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:40px;
}
#u8175 {
  position:absolute;
  left:0px;
  top:80px;
  width:97px;
  height:40px;
}
#u8176 {
  position:absolute;
  left:2px;
  top:12px;
  width:93px;
  word-wrap:break-word;
}
#u8177_img {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:40px;
}
#u8177 {
  position:absolute;
  left:97px;
  top:80px;
  width:132px;
  height:40px;
}
#u8178 {
  position:absolute;
  left:2px;
  top:12px;
  width:128px;
  word-wrap:break-word;
}
#u8179_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:40px;
}
#u8179 {
  position:absolute;
  left:229px;
  top:80px;
  width:141px;
  height:40px;
  color:#1ABC9C;
}
#u8180 {
  position:absolute;
  left:2px;
  top:12px;
  width:137px;
  word-wrap:break-word;
}
#u8181_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:40px;
}
#u8181 {
  position:absolute;
  left:0px;
  top:120px;
  width:97px;
  height:40px;
}
#u8182 {
  position:absolute;
  left:2px;
  top:12px;
  width:93px;
  word-wrap:break-word;
}
#u8183_img {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:40px;
}
#u8183 {
  position:absolute;
  left:97px;
  top:120px;
  width:132px;
  height:40px;
}
#u8184 {
  position:absolute;
  left:2px;
  top:12px;
  width:128px;
  word-wrap:break-word;
}
#u8185_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:40px;
}
#u8185 {
  position:absolute;
  left:229px;
  top:120px;
  width:141px;
  height:40px;
  color:#1ABC9C;
}
#u8186 {
  position:absolute;
  left:2px;
  top:12px;
  width:137px;
  word-wrap:break-word;
}
#u8187_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:40px;
}
#u8187 {
  position:absolute;
  left:0px;
  top:160px;
  width:97px;
  height:40px;
}
#u8188 {
  position:absolute;
  left:2px;
  top:12px;
  width:93px;
  word-wrap:break-word;
}
#u8189_img {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:40px;
}
#u8189 {
  position:absolute;
  left:97px;
  top:160px;
  width:132px;
  height:40px;
}
#u8190 {
  position:absolute;
  left:2px;
  top:12px;
  width:128px;
  word-wrap:break-word;
}
#u8191_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:40px;
}
#u8191 {
  position:absolute;
  left:229px;
  top:160px;
  width:141px;
  height:40px;
}
#u8192 {
  position:absolute;
  left:2px;
  top:12px;
  width:137px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8193_div {
  position:absolute;
  left:0px;
  top:0px;
  width:332px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(226, 226, 226, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u8193 {
  position:absolute;
  left:418px;
  top:378px;
  width:332px;
  height:28px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u8194 {
  position:absolute;
  left:2px;
  top:6px;
  width:328px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8195_div {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:28px;
  background:inherit;
  background-color:rgba(26, 188, 156, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(226, 226, 226, 1);
  border-right:0px;
  border-radius:2px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u8195 {
  position:absolute;
  left:418px;
  top:378px;
  width:35px;
  height:28px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u8195_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:28px;
  background:inherit;
  background-color:rgba(0, 150, 136, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(226, 226, 226, 1);
  border-right:0px;
  border-radius:2px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u8195.selected {
}
#u8196 {
  position:absolute;
  left:2px;
  top:6px;
  width:31px;
  word-wrap:break-word;
}
#u8197_div {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(226, 226, 226, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u8197 {
  position:absolute;
  left:453px;
  top:378px;
  width:35px;
  height:28px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u8197_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:28px;
  background:inherit;
  background-color:rgba(0, 150, 136, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(226, 226, 226, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u8197.selected {
}
#u8198 {
  position:absolute;
  left:2px;
  top:6px;
  width:31px;
  word-wrap:break-word;
}
#u8199_div {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(226, 226, 226, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u8199 {
  position:absolute;
  left:487px;
  top:378px;
  width:35px;
  height:28px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u8199_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:28px;
  background:inherit;
  background-color:rgba(0, 150, 136, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(226, 226, 226, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u8199.selected {
}
#u8200 {
  position:absolute;
  left:2px;
  top:6px;
  width:31px;
  word-wrap:break-word;
}
#u8201_div {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(226, 226, 226, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u8201 {
  position:absolute;
  left:521px;
  top:378px;
  width:35px;
  height:28px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u8201_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:28px;
  background:inherit;
  background-color:rgba(0, 150, 136, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(226, 226, 226, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u8201.selected {
}
#u8202 {
  position:absolute;
  left:2px;
  top:6px;
  width:31px;
  word-wrap:break-word;
}
#u8203_div {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(226, 226, 226, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u8203 {
  position:absolute;
  left:555px;
  top:378px;
  width:35px;
  height:28px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u8203_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:28px;
  background:inherit;
  background-color:rgba(0, 150, 136, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(226, 226, 226, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u8203.selected {
}
#u8204 {
  position:absolute;
  left:2px;
  top:6px;
  width:31px;
  word-wrap:break-word;
}
#u8205_div {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(226, 226, 226, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u8205 {
  position:absolute;
  left:589px;
  top:378px;
  width:44px;
  height:28px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u8206 {
  position:absolute;
  left:2px;
  top:6px;
  width:40px;
  word-wrap:break-word;
}
#u8207_div {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(226, 226, 226, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u8207 {
  position:absolute;
  left:632px;
  top:378px;
  width:54px;
  height:28px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u8208 {
  position:absolute;
  left:2px;
  top:6px;
  width:50px;
  word-wrap:break-word;
}
#u8209_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(226, 226, 226, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u8209 {
  position:absolute;
  left:685px;
  top:378px;
  width:65px;
  height:28px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u8210 {
  position:absolute;
  left:2px;
  top:6px;
  width:61px;
  word-wrap:break-word;
}
#u8211_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(26, 188, 156, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#1ABC9C;
}
#u8211 {
  position:absolute;
  left:583px;
  top:427px;
  width:75px;
  height:33px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#1ABC9C;
}
#u8211_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:33px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(26, 188, 156, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#1ABC9C;
}
#u8211.mouseDown {
}
#u8212 {
  position:absolute;
  left:2px;
  top:6px;
  width:71px;
  word-wrap:break-word;
}
#u8213_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:33px;
  background:inherit;
  background-color:rgba(26, 188, 156, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8213 {
  position:absolute;
  left:674px;
  top:427px;
  width:75px;
  height:33px;
}
#u8214 {
  position:absolute;
  left:2px;
  top:8px;
  width:71px;
  word-wrap:break-word;
}
#u8215 {
  position:absolute;
  left:413px;
  top:80px;
  width:342px;
  height:205px;
}
#u8216_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:40px;
}
#u8216 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:40px;
}
#u8217 {
  position:absolute;
  left:2px;
  top:12px;
  width:93px;
  word-wrap:break-word;
}
#u8218_img {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:40px;
}
#u8218 {
  position:absolute;
  left:97px;
  top:0px;
  width:132px;
  height:40px;
}
#u8219 {
  position:absolute;
  left:2px;
  top:12px;
  width:128px;
  word-wrap:break-word;
}
#u8220_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:40px;
}
#u8220 {
  position:absolute;
  left:229px;
  top:0px;
  width:108px;
  height:40px;
}
#u8221 {
  position:absolute;
  left:2px;
  top:12px;
  width:104px;
  word-wrap:break-word;
}
#u8222_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:40px;
}
#u8222 {
  position:absolute;
  left:0px;
  top:40px;
  width:97px;
  height:40px;
}
#u8223 {
  position:absolute;
  left:2px;
  top:12px;
  width:93px;
  word-wrap:break-word;
}
#u8224_img {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:40px;
}
#u8224 {
  position:absolute;
  left:97px;
  top:40px;
  width:132px;
  height:40px;
}
#u8225 {
  position:absolute;
  left:2px;
  top:12px;
  width:128px;
  word-wrap:break-word;
}
#u8226_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:40px;
}
#u8226 {
  position:absolute;
  left:229px;
  top:40px;
  width:108px;
  height:40px;
}
#u8227 {
  position:absolute;
  left:2px;
  top:12px;
  width:104px;
  word-wrap:break-word;
}
#u8228_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:40px;
}
#u8228 {
  position:absolute;
  left:0px;
  top:80px;
  width:97px;
  height:40px;
}
#u8229 {
  position:absolute;
  left:2px;
  top:12px;
  width:93px;
  word-wrap:break-word;
}
#u8230_img {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:40px;
}
#u8230 {
  position:absolute;
  left:97px;
  top:80px;
  width:132px;
  height:40px;
}
#u8231 {
  position:absolute;
  left:2px;
  top:12px;
  width:128px;
  word-wrap:break-word;
}
#u8232_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:40px;
}
#u8232 {
  position:absolute;
  left:229px;
  top:80px;
  width:108px;
  height:40px;
}
#u8233 {
  position:absolute;
  left:2px;
  top:12px;
  width:104px;
  word-wrap:break-word;
}
#u8234_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:40px;
}
#u8234 {
  position:absolute;
  left:0px;
  top:120px;
  width:97px;
  height:40px;
}
#u8235 {
  position:absolute;
  left:2px;
  top:12px;
  width:93px;
  word-wrap:break-word;
}
#u8236_img {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:40px;
}
#u8236 {
  position:absolute;
  left:97px;
  top:120px;
  width:132px;
  height:40px;
}
#u8237 {
  position:absolute;
  left:2px;
  top:12px;
  width:128px;
  word-wrap:break-word;
}
#u8238_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:40px;
}
#u8238 {
  position:absolute;
  left:229px;
  top:120px;
  width:108px;
  height:40px;
}
#u8239 {
  position:absolute;
  left:2px;
  top:12px;
  width:104px;
  word-wrap:break-word;
}
#u8240_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:40px;
}
#u8240 {
  position:absolute;
  left:0px;
  top:160px;
  width:97px;
  height:40px;
}
#u8241 {
  position:absolute;
  left:2px;
  top:12px;
  width:93px;
  word-wrap:break-word;
}
#u8242_img {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:40px;
}
#u8242 {
  position:absolute;
  left:97px;
  top:160px;
  width:132px;
  height:40px;
}
#u8243 {
  position:absolute;
  left:2px;
  top:12px;
  width:128px;
  word-wrap:break-word;
}
#u8244_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:40px;
}
#u8244 {
  position:absolute;
  left:229px;
  top:160px;
  width:108px;
  height:40px;
}
#u8245 {
  position:absolute;
  left:2px;
  top:12px;
  width:104px;
  word-wrap:break-word;
}
