body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:relative;
  left:-0px;
  width:1100px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u19432 {
  position:absolute;
  left:0px;
  top:0px;
  width:1100px;
  height:50px;
  overflow:hidden;
}
#u19432_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1100px;
  height:50px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(249, 249, 249, 1);
  background-image:none;
}
#u19432_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u19433 {
  position:absolute;
  left:0px;
  top:49px;
  width:1100px;
  height:1px;
  overflow:hidden;
}
#u19433_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1100px;
  height:1px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
}
#u19433_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u19434_div {
  position:absolute;
  left:0px;
  top:0px;
  width:630px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:5px;
  border-style:solid;
  border-color:rgba(26, 188, 156, 1);
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
}
#u19434 {
  position:absolute;
  left:0px;
  top:16px;
  width:630px;
  height:18px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
}
#u19434_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:630px;
  height:18px;
  background:inherit;
  background-color:rgba(51, 153, 255, 1);
  box-sizing:border-box;
  border-width:5px;
  border-style:solid;
  border-color:rgba(51, 153, 255, 1);
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
}
#u19434.selected {
}
#u19435 {
  position:absolute;
  left:10px;
  top:-1px;
  width:618px;
  word-wrap:break-word;
}
#u19436_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1100px;
  height:1970px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19436 {
  position:absolute;
  left:0px;
  top:60px;
  width:1100px;
  height:1970px;
}
#u19437 {
  position:absolute;
  left:2px;
  top:977px;
  width:1096px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19438_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(119, 119, 119, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u19438 {
  position:absolute;
  left:1000px;
  top:9px;
  width:70px;
  height:32px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u19438_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:32px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(119, 119, 119, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u19438.mouseDown {
}
#u19439 {
  position:absolute;
  left:2px;
  top:6px;
  width:66px;
  word-wrap:break-word;
}
#u19438_ann {
  position:absolute;
  left:1063px;
  top:5px;
  width:1px;
  height:1px;
}
#u19440_div {
  position:absolute;
  left:0px;
  top:0px;
  width:931px;
  height:279px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(240, 238, 240, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19440 {
  position:absolute;
  left:89px;
  top:131px;
  width:931px;
  height:279px;
}
#u19441 {
  position:absolute;
  left:2px;
  top:132px;
  width:927px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19442_div {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19442 {
  position:absolute;
  left:106px;
  top:279px;
  width:185px;
  height:16px;
}
#u19443 {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  white-space:nowrap;
}
#u19444_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:10px;
  height:26px;
}
#u19444 {
  position:absolute;
  left:89px;
  top:90px;
  width:5px;
  height:21px;
}
#u19445 {
  position:absolute;
  left:2px;
  top:2px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19446_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#555555;
}
#u19446 {
  position:absolute;
  left:104px;
  top:90px;
  width:65px;
  height:21px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#555555;
}
#u19447 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u19448_div {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(26, 188, 156, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#1ABC9C;
}
#u19448 {
  position:absolute;
  left:106px;
  top:860px;
  width:102px;
  height:33px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#1ABC9C;
}
#u19448_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:33px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(26, 188, 156, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#1ABC9C;
}
#u19448.mouseDown {
}
#u19449 {
  position:absolute;
  left:2px;
  top:6px;
  width:98px;
  word-wrap:break-word;
}
#u19450_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19450 {
  position:absolute;
  left:106px;
  top:150px;
  width:113px;
  height:16px;
}
#u19451 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u19452_div {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19452 {
  position:absolute;
  left:106px;
  top:193px;
  width:169px;
  height:16px;
}
#u19453 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  white-space:nowrap;
}
#u19454_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19454 {
  position:absolute;
  left:106px;
  top:322px;
  width:113px;
  height:16px;
}
#u19455 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u19457 {
  position:absolute;
  left:89px;
  top:1032px;
  width:917px;
  height:960px;
}
#u19458_img {
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:50px;
}
#u19458 {
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:50px;
  text-align:left;
}
#u19459 {
  position:absolute;
  left:20px;
  top:17px;
  width:157px;
  word-wrap:break-word;
}
#u19460_img {
  position:absolute;
  left:0px;
  top:0px;
  width:733px;
  height:50px;
}
#u19460 {
  position:absolute;
  left:179px;
  top:0px;
  width:733px;
  height:50px;
  text-align:left;
}
#u19461 {
  position:absolute;
  left:20px;
  top:17px;
  width:711px;
  word-wrap:break-word;
}
#u19462_img {
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:50px;
}
#u19462 {
  position:absolute;
  left:0px;
  top:50px;
  width:179px;
  height:50px;
  text-align:left;
}
#u19463 {
  position:absolute;
  left:20px;
  top:17px;
  width:157px;
  word-wrap:break-word;
}
#u19464_img {
  position:absolute;
  left:0px;
  top:0px;
  width:733px;
  height:50px;
}
#u19464 {
  position:absolute;
  left:179px;
  top:50px;
  width:733px;
  height:50px;
  text-align:left;
}
#u19465 {
  position:absolute;
  left:20px;
  top:17px;
  width:711px;
  word-wrap:break-word;
}
#u19466_img {
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:50px;
}
#u19466 {
  position:absolute;
  left:0px;
  top:100px;
  width:179px;
  height:50px;
  text-align:left;
}
#u19467 {
  position:absolute;
  left:20px;
  top:17px;
  width:157px;
  word-wrap:break-word;
}
#u19468_img {
  position:absolute;
  left:0px;
  top:0px;
  width:733px;
  height:50px;
}
#u19468 {
  position:absolute;
  left:179px;
  top:100px;
  width:733px;
  height:50px;
  text-align:left;
}
#u19469 {
  position:absolute;
  left:20px;
  top:17px;
  width:711px;
  word-wrap:break-word;
}
#u19470_img {
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:50px;
}
#u19470 {
  position:absolute;
  left:0px;
  top:150px;
  width:179px;
  height:50px;
  text-align:left;
}
#u19471 {
  position:absolute;
  left:20px;
  top:17px;
  width:157px;
  word-wrap:break-word;
}
#u19472_img {
  position:absolute;
  left:0px;
  top:0px;
  width:733px;
  height:50px;
}
#u19472 {
  position:absolute;
  left:179px;
  top:150px;
  width:733px;
  height:50px;
  text-align:left;
}
#u19473 {
  position:absolute;
  left:20px;
  top:17px;
  width:711px;
  word-wrap:break-word;
}
#u19474_img {
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:50px;
}
#u19474 {
  position:absolute;
  left:0px;
  top:200px;
  width:179px;
  height:50px;
  text-align:left;
}
#u19475 {
  position:absolute;
  left:20px;
  top:17px;
  width:157px;
  word-wrap:break-word;
}
#u19476_img {
  position:absolute;
  left:0px;
  top:0px;
  width:733px;
  height:50px;
}
#u19476 {
  position:absolute;
  left:179px;
  top:200px;
  width:733px;
  height:50px;
  text-align:left;
}
#u19477 {
  position:absolute;
  left:20px;
  top:17px;
  width:711px;
  word-wrap:break-word;
}
#u19478_img {
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:206px;
}
#u19478 {
  position:absolute;
  left:0px;
  top:250px;
  width:179px;
  height:206px;
  text-align:left;
}
#u19479 {
  position:absolute;
  left:20px;
  top:95px;
  width:157px;
  word-wrap:break-word;
}
#u19480_img {
  position:absolute;
  left:0px;
  top:0px;
  width:733px;
  height:206px;
}
#u19480 {
  position:absolute;
  left:179px;
  top:250px;
  width:733px;
  height:206px;
  text-align:left;
}
#u19481 {
  position:absolute;
  left:20px;
  top:95px;
  width:711px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19482_img {
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:85px;
}
#u19482 {
  position:absolute;
  left:0px;
  top:456px;
  width:179px;
  height:85px;
  text-align:left;
}
#u19483 {
  position:absolute;
  left:20px;
  top:34px;
  width:157px;
  word-wrap:break-word;
}
#u19484_img {
  position:absolute;
  left:0px;
  top:0px;
  width:733px;
  height:85px;
}
#u19484 {
  position:absolute;
  left:179px;
  top:456px;
  width:733px;
  height:85px;
  text-align:left;
}
#u19485 {
  position:absolute;
  left:20px;
  top:34px;
  width:711px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19486_img {
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:50px;
}
#u19486 {
  position:absolute;
  left:0px;
  top:541px;
  width:179px;
  height:50px;
  text-align:left;
}
#u19487 {
  position:absolute;
  left:20px;
  top:17px;
  width:157px;
  word-wrap:break-word;
}
#u19488_img {
  position:absolute;
  left:0px;
  top:0px;
  width:733px;
  height:50px;
}
#u19488 {
  position:absolute;
  left:179px;
  top:541px;
  width:733px;
  height:50px;
  text-align:left;
}
#u19489 {
  position:absolute;
  left:20px;
  top:17px;
  width:711px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19490_img {
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:50px;
}
#u19490 {
  position:absolute;
  left:0px;
  top:591px;
  width:179px;
  height:50px;
  text-align:left;
}
#u19491 {
  position:absolute;
  left:20px;
  top:17px;
  width:157px;
  word-wrap:break-word;
}
#u19492_img {
  position:absolute;
  left:0px;
  top:0px;
  width:733px;
  height:50px;
}
#u19492 {
  position:absolute;
  left:179px;
  top:591px;
  width:733px;
  height:50px;
  text-align:left;
}
#u19493 {
  position:absolute;
  left:20px;
  top:17px;
  width:711px;
  word-wrap:break-word;
}
#u19494_img {
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:50px;
}
#u19494 {
  position:absolute;
  left:0px;
  top:641px;
  width:179px;
  height:50px;
  text-align:left;
}
#u19495 {
  position:absolute;
  left:20px;
  top:17px;
  width:157px;
  word-wrap:break-word;
}
#u19496_img {
  position:absolute;
  left:0px;
  top:0px;
  width:733px;
  height:50px;
}
#u19496 {
  position:absolute;
  left:179px;
  top:641px;
  width:733px;
  height:50px;
  text-align:left;
}
#u19497 {
  position:absolute;
  left:20px;
  top:17px;
  width:711px;
  word-wrap:break-word;
}
#u19498_img {
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:50px;
}
#u19498 {
  position:absolute;
  left:0px;
  top:691px;
  width:179px;
  height:50px;
  text-align:left;
}
#u19499 {
  position:absolute;
  left:20px;
  top:17px;
  width:157px;
  word-wrap:break-word;
}
#u19500_img {
  position:absolute;
  left:0px;
  top:0px;
  width:733px;
  height:50px;
}
#u19500 {
  position:absolute;
  left:179px;
  top:691px;
  width:733px;
  height:50px;
  text-align:left;
}
#u19501 {
  position:absolute;
  left:20px;
  top:17px;
  width:711px;
  word-wrap:break-word;
}
#u19502_img {
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:214px;
}
#u19502 {
  position:absolute;
  left:0px;
  top:741px;
  width:179px;
  height:214px;
  text-align:left;
}
#u19503 {
  position:absolute;
  left:20px;
  top:99px;
  width:157px;
  word-wrap:break-word;
}
#u19504_img {
  position:absolute;
  left:0px;
  top:0px;
  width:733px;
  height:214px;
}
#u19504 {
  position:absolute;
  left:179px;
  top:741px;
  width:733px;
  height:214px;
  text-align:left;
}
#u19505 {
  position:absolute;
  left:20px;
  top:99px;
  width:711px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19506_div {
  position:absolute;
  left:0px;
  top:0px;
  width:912px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19506 {
  position:absolute;
  left:89px;
  top:973px;
  width:912px;
  height:60px;
}
#u19507 {
  position:absolute;
  left:2px;
  top:22px;
  width:908px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19508_div {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u19508 {
  position:absolute;
  left:99px;
  top:994px;
  width:102px;
  height:19px;
  font-size:16px;
}
#u19509 {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  white-space:nowrap;
}
#u19510_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:10px;
  height:26px;
}
#u19510 {
  position:absolute;
  left:89px;
  top:930px;
  width:5px;
  height:21px;
}
#u19511 {
  position:absolute;
  left:2px;
  top:2px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19512_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#555555;
}
#u19512 {
  position:absolute;
  left:104px;
  top:930px;
  width:81px;
  height:21px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#555555;
}
#u19513 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u19514_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:170px;
}
#u19514 {
  position:absolute;
  left:289px;
  top:1300px;
  width:300px;
  height:170px;
}
#u19515 {
  position:absolute;
  left:2px;
  top:77px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19516_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:170px;
}
#u19516 {
  position:absolute;
  left:619px;
  top:1300px;
  width:300px;
  height:170px;
}
#u19517 {
  position:absolute;
  left:2px;
  top:77px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19518_div {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19518 {
  position:absolute;
  left:289px;
  top:1524px;
  width:92px;
  height:16px;
}
#u19519 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u19520_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#1ABC9C;
}
#u19520 {
  position:absolute;
  left:409px;
  top:1524px;
  width:43px;
  height:16px;
  color:#1ABC9C;
}
#u19521 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u19522_div {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19522 {
  position:absolute;
  left:289px;
  top:1590px;
  width:84px;
  height:16px;
}
#u19523 {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  white-space:nowrap;
}
#u19524_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#1ABC9C;
}
#u19524 {
  position:absolute;
  left:409px;
  top:1590px;
  width:43px;
  height:16px;
  color:#1ABC9C;
}
#u19525 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u19526_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:170px;
}
#u19526 {
  position:absolute;
  left:289px;
  top:1793px;
  width:300px;
  height:170px;
}
#u19527 {
  position:absolute;
  left:2px;
  top:77px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19528_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:170px;
}
#u19528 {
  position:absolute;
  left:619px;
  top:1793px;
  width:300px;
  height:170px;
}
#u19529 {
  position:absolute;
  left:2px;
  top:77px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19530_div {
  position:absolute;
  left:0px;
  top:0px;
  width:931px;
  height:130px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(240, 238, 240, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19530 {
  position:absolute;
  left:89px;
  top:461px;
  width:931px;
  height:130px;
}
#u19531 {
  position:absolute;
  left:2px;
  top:57px;
  width:927px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19532_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:10px;
  height:26px;
}
#u19532 {
  position:absolute;
  left:89px;
  top:420px;
  width:5px;
  height:21px;
}
#u19533 {
  position:absolute;
  left:2px;
  top:2px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19534_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#555555;
}
#u19534 {
  position:absolute;
  left:104px;
  top:420px;
  width:65px;
  height:21px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#555555;
}
#u19535 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u19536_div {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19536 {
  position:absolute;
  left:106px;
  top:482px;
  width:141px;
  height:16px;
}
#u19537 {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  white-space:nowrap;
}
#u19538_div {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19538 {
  position:absolute;
  left:106px;
  top:519px;
  width:127px;
  height:16px;
}
#u19539 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u19540_div {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19540 {
  position:absolute;
  left:106px;
  top:555px;
  width:185px;
  height:16px;
}
#u19541 {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  white-space:nowrap;
}
#u19542_div {
  position:absolute;
  left:0px;
  top:0px;
  width:931px;
  height:184px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(240, 238, 240, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19542 {
  position:absolute;
  left:89px;
  top:656px;
  width:931px;
  height:184px;
}
#u19543 {
  position:absolute;
  left:2px;
  top:84px;
  width:927px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19544_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:10px;
  height:26px;
}
#u19544 {
  position:absolute;
  left:89px;
  top:615px;
  width:5px;
  height:21px;
}
#u19545 {
  position:absolute;
  left:2px;
  top:2px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19546_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#555555;
}
#u19546 {
  position:absolute;
  left:104px;
  top:615px;
  width:65px;
  height:21px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#555555;
}
#u19547 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u19548_div {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19548 {
  position:absolute;
  left:104px;
  top:680px;
  width:145px;
  height:16px;
}
#u19549 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u19550_div {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19550 {
  position:absolute;
  left:104px;
  top:717px;
  width:103px;
  height:16px;
}
#u19551 {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  white-space:nowrap;
}
#u19552_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19552 {
  position:absolute;
  left:104px;
  top:754px;
  width:99px;
  height:16px;
}
#u19553 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u19554_div {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19554 {
  position:absolute;
  left:104px;
  top:791px;
  width:185px;
  height:16px;
}
#u19555 {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  white-space:nowrap;
}
#u19556_div {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19556 {
  position:absolute;
  left:106px;
  top:236px;
  width:103px;
  height:16px;
}
#u19557 {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  white-space:nowrap;
}
#u19558_div {
  position:absolute;
  left:0px;
  top:0px;
  width:575px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19558 {
  position:absolute;
  left:106px;
  top:365px;
  width:575px;
  height:32px;
}
#u19559 {
  position:absolute;
  left:0px;
  top:0px;
  width:575px;
  white-space:nowrap;
}
